</br>
</br>
<div>
	<p align="center">
		<a href="https://senseable.mit.edu/papers/pdf/20200617_Ljubenkov-etal_OptimizingBSS_IEEE%20E-TEMS%20Conference.pdf"><img src="/assets/images/mobility.jpg" height="200px" width="250px" /></a>
		&nbsp;&nbsp;&nbsp;
		<a href="https://www.epfl.ch/labs/iig/page-40267-en-html/page-56808-en-html/"><img src="/assets/images/epfl.png" height="200px" width="250px" /></a>
		&nbsp;&nbsp;&nbsp;
		<a href="https://mefst.unist.hr/research/research-groups-and-laboratories/neuroscience-and-sleep/5062"><img src="/assets/images/transcranial.png" height="200px" width="250px" /></a>
		&nbsp;&nbsp;&nbsp;
	</p>
	<p align="center">
		<a href="http://marjan.fesb.hr/SoftCOM/2016/files/apk/final_program_2016.pdf"><img src="/assets/images/ericsson.png" height="200px" width="250px" /></a>
		&nbsp;&nbsp;&nbsp;
		<a href="https://indico.cern.ch/event/377001/registrations/participants"><img src="/assets/images/minkowski.jpg" height="200px" width="250px" /></a>
		&nbsp;&nbsp;&nbsp;
		<a href="https://2018.tuecontest.nl/candidate/details/196"><img src="/assets/images/labeledby.jpg" height="200px" width="250px" /></a>
		&nbsp;&nbsp;&nbsp;
	</p>
	
	<p align="center">
		<a href="https://www.google.com" target="_blank"><img src="/assets/images/volume.png" height="200px" width="250px" /></a>
		&nbsp;&nbsp;&nbsp;
		<a href="https://ai-or-human.github.io/"><img src="/assets/images/aihuman.png" height="200px" width="250px" /></a>
		&nbsp;&nbsp;&nbsp;
		<a href="https://03gle.itch.io/life-socks"><img src="/assets/images/socks.png" height="200px" width="250px" /></a>
		&nbsp;&nbsp;&nbsp;
	</p>
</div>
