</br>
</br>
<div>
	<p align="center">
		<a href="http://www.google.com" target="_blank"><img src="dljubenk.github.io/assets/images/mobility.jpg" height="200px" width="250px" /></a>
		&nbsp;&nbsp;&nbsp;
		<a href="https://www.google.com" target="_blank"><img src="dljubenk.github.io/assets/images/epfl.png" height="200px" width="250px" /></a>
		&nbsp;&nbsp;&nbsp;
		<a href="https://www.google.com" target="_blank"><img src="dljubenk.github.io/assets/images/transcranial.png" height="200px" width="250px" /></a>
		&nbsp;&nbsp;&nbsp;
	</p>
	<p align="center">
		<a href="https://www.google.com" target="_blank"><img src="dljubenk.github.io/assets/images/ericsson.png" height="200px" width="250px" /></a>
		&nbsp;&nbsp;&nbsp;
		<a href="https://www.google.com" target="_blank"><img src="dljubenk.github.io/assets/images/minkowski.jpg" height="200px" width="250px" /></a>
		&nbsp;&nbsp;&nbsp;
		<a href="https://www.google.com" target="_blank"><img src="dljubenk.github.io/assets/images/labeledby.jpg" height="200px" width="250px" /></a>
		&nbsp;&nbsp;&nbsp;
	</p>
	
	<p align="center">
		<a href="https://www.google.com" target="_blank"><img src="dljubenk.github.io/assets/images/volume.png" height="200px" width="250px" /></a>
		&nbsp;&nbsp;&nbsp;
		<a href="https://ai-or-human.github.io/"><img src="dljubenk.github.io/assets/images/aihuman.png" height="200px" width="250px" /></a>
		&nbsp;&nbsp;&nbsp;
		<a href="https://www.google.com" target="_blank"><img src="dljubenk.github.io/assets/images/socks.png" height="200px" width="250px" /></a>
		&nbsp;&nbsp;&nbsp;
	</p>
</div>
